*{
    box-sizing: border-box;
    

}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 350px;
    gap: 20px;
    padding: 10px;
    
}

input{
    color: black;
    height: 50px;
    padding: 5px;
}
button{
    
    width: 100px;
    height: 50px;
    background-color: white;
    border:none

}